---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: o11y
resources:
  - dashboard.yaml
configMapGenerator:
  - name: kubernetes-cluster-monitoring
    files:
      - dashboards/kubernetes-cluster-monitoring.json
  - name: kubernetes-persistent-volumes
    files:
      - dashboards/kubernetes-persistent-volumes.json
  - name: debugging-performance
    files:
      - dashboards/debugging-performance.json
  - name: rhtap-performance
    files:
      - dashboards/rhtap-performance.json
  - name: nodes-performance
    files:
      - dashboards/nodes-performance.json
  - name: tenant-performance
    files:
      - dashboards/tenant-performance.json
  - name: controllers-overview-a-n
    files:
      - dashboards/controllers-overview-a-n.json
  - name: controllers-overview-o-z
    files:
      - dashboards/controllers-overview-o-z.json
